<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head.ejs') %>
</head>
<body>

  <%- include('../partials/header.ejs', {subHeading: 'Welcome'}) %>


  <main>
    <ul>
      <li><a href="/users">Visit the user list.</a></li>
    </ul>
  </main>
  <%- include('../partials/footer.ejs') %>
  <%- include('../partials/scripts.ejs') %>
<script>var user = <%= user %></script>
</body>
</html>

