<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head.ejs') %>
</head>
<body>

  <%- include('../partials/header.ejs', {subHeading: 'Welcome'}) %>


  <main>
    <ul>
      <li><a href="/users">Visit the user list.</a></li>
    </ul>
  </main>

  <div class="row">
    <div class="col-md-3">
      <%- include('../partials/content/crawls.ejs') %>
    </div>
  </div>

<!--   <div class="row">
    <div class="col-xs-6 col-md-3 rowcol">
      <a href="#" class="thumbnail">
        <img src="http://s3-media4.fl.yelpcdn.com/bphoto/IurYRZJ9VSws6qG77fJTWQ/ms.jpg" alt="...">
      </a>
    </div>
    <div class="col-xs-6 col-md-3 rowcol">
      <a href="#" class="thumbnail">
        <img src="http://s3-media3.fl.yelpcdn.com/bphoto/6vTyhaKMl22HnLDLYymnHQ/ms.jpg" alt="...">
      </a>
    </div>
    <div class="col-xs-6 col-md-3 rowcol">
      <a href="#" class="thumbnail">
        <img src="http://s3-media3.fl.yelpcdn.com/bphoto/nL0E1bQ-Nc9lwpFn7PIMag/ms.jpg" alt="...">
      </a>
    </div>
    <div class="col-xs-6 col-md-3 rowcol">
      <a href="#" class="thumbnail">
        <img src="http://s3-media3.fl.yelpcdn.com/bphoto/hcBUGkl7zrSG7s78Yej4Qw/ms.jpg" alt="...">
      </a>
    </div>
  </div> -->

  <%- include('../partials/footer.ejs') %>
  <%- include('../partials/scripts.ejs') %>

</body>
</html>

